@charset "utf-8";

@font-face{
    font-family: "NanumSquare";
    src: url(../font/NanumSquareB.otf);
    src: url(../font/NanumSquareEB.otf);
    src: url(../font/NanumSquareL.otf);
    src: url(../font/NanumSquareOTF_acB.otf);
    src: url(../font/NanumSquareOTF_acEB.otf);
    src: url(../font/NanumSquareOTF_acL.otf);
    src: url(../font/NanumSquareOTF_acR.otf);
    src: url(../font/NanumSquareR.otf);
}

*{
    margin: 0;
    padding: 0;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    width: 100%;
    height: 100%;
}
body,html{
    overflow-x: hidden;
    background-color: #F3F1EE;
    color: #222;
    font-family: "NanumSquare";
}
