@charset "utf-8";

.wrap{
    padding: 0 70px;
    transition: 0.5s;
}
/* 헤더 */
label[for=hamburger]{
    width: 25px;
    height: 25px;
    display: none;
    position: fixed;
    right: 81px;
    top: 38px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 99;
}
label[for=hamburger] span{
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #000;
    transition: 0.3s;
}
label[for=hamburger] span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
label[for=hamburger] span:nth-child(2){
    top: 50%;
    transform: rotate(-45deg);
}
.menu_wrap{
    display: none;
}
.menu_wrap{
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f3f1ee;
    line-height: 100px;
    z-index: 99;
}
.menu_box{
    display: flex;
    justify-content: first baseline;
    transition: 0.5s;
}
.menu_box li{
    margin-right: 30px;
    display:inline-block; 
    text-transform:uppercase;
}
.menu_box li:last-child{
    margin-right: 180px;
}
.menu_box li a{
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 5px;
}
.menu_box li a::after{
    display:block;
    content: '';
    border-bottom: solid 3px #1a1a1e;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.menu_box li a:hover:after { 
    transform: scaleX(1); 
    transform-origin: 0% 50%;
}
.header{
    height: 100px;
    font-size: 20px;
    font-weight: 600;
}
.name{
    position: fixed;
    top: 40px;
    left: 70px;
    z-index: 99;
}
.portfolio{
    position: absolute;
    top: 40px;
    left: 410px;
    transition: 0.5s;
}
.address{
    position: absolute;
    top: 40px;
    left: 800px;
    transition: 0.5s;
}
.menu{
    position: fixed;
    top: 40px;
    right: 70px;
    z-index: 999;
}
/* 배너 */
.banner{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}
.banner .banner_title p{
    font-size: 140px;
    font-weight: 600;
    line-height: 1;
}
.banner_left_b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 460px;
}
.banner_left_b_r p{
    font-size: 20px;
    font-weight: 600;
}
.banner_profile{
    position: absolute;
    top: 310px;
    left: 315px;
    width: 420px;
    height: 560px;
}
.banner_right{
    display: flex;
    align-items: end;
    text-align: right;
}
.banner_title{
    margin-top: 20px;
}
/* 어바웃미 */
.section1{
    margin-top: 300px;
}
.about_me{
    display: flex;
    justify-content: space-between;
}
.number_title{
    font-size: 25px;
}
.content{
    width: 1180px;
    transition: 0.5s;
}
.content_t{
    font-size: 40px;
    font-weight: 600;
}
.content_b{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.content_b_l p{
    font-size: 23px;
}
.content_b_r_t{
    display: flex;
    margin-bottom: 50px;
}
.content_b_r_t .pro{
    width: 300px;
    margin-right: 100px;
}
.content_b_r_t .edu{
    margin-right: 150px;
}
.edu p{
    font-size: 17px;
    color: #525252;
}
.content_b_r_t dl dt,.skills{
    font-size: 30px;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.content_b_r_t dl dd{
    font-size: 20px;
    padding-left: 40px;
    margin-bottom: 23px;
    position: relative;
}
.content_b_r_t dl dd::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px solid #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    border-radius: 6px;
    position: absolute;
    top: 14px;
    left: 0; 
}
.content_b_r_t dl dd.line::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 60px;
    background-color: #333;
    position: absolute;
    top: 25px;
    left: 5px;
}
.progress_wrap{
    display: flex;
}
.progress{
    display: flex;
    margin-right: 15px;
}
.progress:last-child{
    margin-right: 0;
}
.svg-wrapper{
    margin-right: 15px;
    position: relative;
    top: 0;
    left: 0;
}
.svg-wrapper:last-child{
    margin-right: 0;
}
.img{
    width: 60px;
    position: relative;
    top: -92px;
    left: 15px;
}
.shape,circle{
    width: 90px;
    height: 120px;
}
.shape{
    fill: transparent;
    stroke-width: 6px;
    stroke: #9BABAB;
    stroke-dasharray: 230;
    stroke-dashoffset: 209;
    transform: rotate(-90deg);
    transform-origin: center;
}
.shape.active{
    animation: htmlcss 2s linear forwards;
}
.java_icon{
    stroke-dasharray: 331;
    stroke-dashoffset: 209;
}
.java_icon.active{
    animation: java 2s linear forwards;
}
.js_icon{
    stroke-dasharray: 295;
    stroke-dashoffset: 209;
}
.js_icon.active{
    animation: js 2s linear forwards;
}
.ps_icon,.figma_icon{
    stroke-dasharray: 210;
    stroke-dashoffset: 149;
}
.ps_icon.active,.figma_icon.active{
    animation: psfig 2s linear forwards;
}
.ai_icon{
    stroke-dasharray: 190;
    stroke-dashoffset: 129;
}
.ai_icon.active{
    animation: ai 2s linear forwards;
}
.xd_icon{
    stroke-dasharray: 150;
    stroke-dashoffset: 49;
}
.xd_icon.active{
    animation: xd 2s linear forwards;
}
.text{
    position: absolute;
    top: 110px;
    font-size: 18px;
    color: #6a6a6a;
}
.html{
    left: 26px;
}
.css{
    left: 32px;
}
.java{
    left: 8px;
}
.js{
    left: 16px;
}
.ps{
    left: 4px;
}
.ai{
    left: 6px;
}
.figma{
    left: 20px;
}
.xd{
    left: 36px;
}
@keyframes htmlcss{
    0%{
        stroke-dashoffset: 209;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes java{
    0%{
        stroke-dasharray: 209;  

    }
    100%{
        stroke-dasharray: 331;

    }
}
@keyframes js{
    0%{
        stroke-dasharray: 209;
    }
    100%{
        stroke-dasharray: 295;
    }
}
@keyframes psfig{
    0%{
        stroke-dashoffset: 149;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes ai{
    0%{
        stroke-dashoffset: 129;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes xd{
    0%{
        stroke-dashoffset: 49;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
/* 리뉴얼웹사이트 */
.section2{
    margin-top: 300px;
}
.renewal_title{
    display: flex;
}
.first_grid,.second_grid{
    font-size: 22px;
    margin-left: 300px;
    line-height: 1;
}
.project{
    margin-bottom: 400px;

    position: relative;
    top: 0;
    left: 0;
    align-items: center;
}
.project:first-child{
    margin-top: 130px;
}
.project:last-child{
    margin-bottom: 0;
}
.project_title{
    width: 375px;
    border-bottom: 10px solid #1a1a1e;
}
.artcenter_logo{
    width: 300px;
}
.project_txt1{
    display: flex;
    font-size: 20px;
    margin-top: 40px;
    color: #6a6a6a;
}
.project_txt1 p{
    margin-right: 20px;
}
.project_txt2{
    margin-top: 40px;
}
.project_txt2_ti{
    font-size: 35px;
}
.project_txt2_ti_con{
    font-family: 'NanumSquareL';
    font-size: 21px;
}
.project_txt3{
    margin-top: 20px;
}
.project_txt3_ti{
    font-size: 25px;
}
.project_txt3_ti_con{
    font-family: 'NanumSquareL';
    font-size: 18px;
    line-height: 1.5;
    color: #4c4c4c;
    margin-top: 5px;
    width: 40vw;
}
.project_txt4,.project_txt5,.project_txt6{
    display: flex;
    font-size: 22px;
}
.project_txt4{
    margin-top: 30px;
}
.project_txt5,.project_txt6{
    margin-top: 10px;
}
.view{
    margin-top: 50px;
}
.view a{
    font-size: 18px;
    border: 1px solid #1a1a1e;
    border-radius: 17px;
    line-height: 40px;
    padding: 12px 20px;
    transition: 0.5s;
}
.zara_view a:hover{
    background-color: #CDCDB5;
    border: 1px solid #CDCDB5;
}
.louis_view a:hover{
    background-color: #556670;
    border: 1px solid #556670;
    color: #fff;
}
.art_view a:hover{
    background-color: #E8C08F;
    border: 1px solid #E8C08F;
}
.box1,.box2,.box3{
    width: 730px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    border-radius: 300px 0 0 0;
    transition: 0.5s;
}
.box1{
    background-color: #CDCDB5;
}
.box2{
    background-color: #556670;
}
.box3{
    background-color: #E8C08F;
}
.project_r{
    display: block;
    width: 900px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    transition: 0.5s;
}
/* UI/UX */
.section3{
    margin-top: 300px;
}
.uiux_title{
    display: flex;
}
.uiux{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.uiux_logo{
    width: 150px;
}
.uiux_view a{
    padding: 12px 30px;
}
.uiux_view a:hover{
    background-color: #B6B6D7;
    border: 1px solid #B6B6D7;
}
.uiux_r{
    width: 850px;
    height: 100%;
}
/* contactme */
.section4{
    margin-top: 300px;
}
.contact_me{
    display: flex;
}
.sendmessage{
    line-height: 1.3;
    letter-spacing: -6px;
    font-size: 138px;
    font-weight: 600;
    margin: 130px 0 230px;
    transition: 0.5s;
}
.sendmessage span{
    border-bottom: 10px solid #1a1a1e;
}
.emailaddrass span{
    word-break: break-all;
}
/* 푸터 */
footer{
    padding-bottom: 30px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.footer_title,.footer_social{
    font-size: 22px;
}
/* top_but */
.top_but img {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 60px;
    right: 70px;
    z-index: 999;
    cursor: pointer;
    animation: video_reel 6.5s linear infinite;
  }
  @keyframes video_reel {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width:1700px){
    .project_r{
        width: 800px;
    }
    .box1,.box2,.box3{
        width: 640px;
        height: 240px;
        top: 40px;
    }
}

@media (max-width:1600px){
    .banner .banner_title p{
        font-size: 120px;
    }
    .banner_profile{
        top: 290px;
        left: 245px;
        width: 400px;
        height: 530px;
    }
}

@media (max-width:1500px){
    .project_r{
        width: 700px;
    }
    .box1,.box2,.box3{
        width: 560px;
        height: 200px;
        top: 80px;
    }
}

@media (max-width:1400px){
    /* 배너 */
    .banner .banner_title p{
        font-size: 100px;
    }
    .banner_profile{
        top: 300px;
        left: 200px;
        width: 350px;
        height: 470px;
    }
    /* aboutme */
    .content{
        width: 1000px;
    }
    .content_t{
        font-size: 35px;
    }
    .content_b_r_t .edu{
        margin-right: 0;
    }
    .svg-wrapper{
        margin-right: 10px;
    }
    .progress{
        margin-right: 10px;
    }
    /* renewal */
    .project_txt1{
        margin-top: 50px;
    }
    .project_txt2{
        margin-top: 40px;
    }
    .project_txt3_ti_con{
        width: unset;
        line-height: 1.7;
    }
    .project_txt4{
        margin-top: 50px;
    }
    .project_txt5, .project_txt6{
        margin-top: 15px;
    }
    .view{
        margin-top: 70px;
    }
    .project_r{
        width: unset;
        position: unset;
        transform: unset;
        margin-top: 100px;
    }
    .box1, .box2, .box3{
        display: none;
    }
    /* uiux */
    .uiux{
        display: block;
    }
    .uiux_r{
        width: 85%;
        margin: 0 auto;
    }
    /* 푸터 */
    .sendmessage{
        font-size: 119px;
    }
}

@media (max-width:1200px){
    /* 배너 */
    .banner{
        display: block;
        padding-top: unset;
    }
    .banner .banner_title p{
        font-size: 85px;
    }
    .banner_profile{
        top: 290px;
        left: 70px;
        width: 400px;
        height: 530px;
    }
    .banner_left_b{
        flex-direction: row-reverse;
        margin-top: 540px;
    }
    .banner_right{
        text-align: unset;
    }
    /* 헤더 */
    .portfolio{
        left: 350px;
    }
    .address{
        left: 690px;
    }
    /* aboutme */
    .about_me{
        display: block;
    }
    .number_title{
        margin-bottom: 50px;
    }
    .content{
        width: unset;
    }
    .content_b_r_t dl dt, .skills{
        font-size: 28px;
    }
    .content_b_r_t dl dd{
        padding-left: 30px;
        margin-bottom: 20px;
    }
    .svg-wrapper{
        margin-right: 8px;
    }
    .progress{
        margin-right: 8px;
    }
    .first_grid,.second_grid{
        margin-left: 240px;
    }
    /* 푸터 */
    .sendmessage{
        font-size: 97px;
    }
}

@media (max-width:1024px){
    .wrap{
        padding: 0 30px;
    }
    /* 배너 */
    .banner_profile{
        top: 290px;
        left: 30px;
        width: 400px;
    }
    .banner_left_b_l{
        width: 60px;
    }
    /* 헤더 */
    .header{
        font-size: 18px;
    }
    .name{
        left: 30px;
    }
    .portfolio{
        left: 310px;
    }
    .address{
        display: none;
    }
    .menu{
        right: 30px;
    }
    .first_grid,.second_grid{
        font-size: 20px;
    }
    .second_grid{
        display: none;
    }
    .menu_box li{
        font-size: 16px;
    }
    label[for=hamburger]{
        right: 40px;
    }
    .menu_box li:last-child{
        margin-right: 130px;
    }
    /* aboutme */
    .content_t{
        font-size: 32px;
    }
    .content_b{
        display: block;
    }
    .content_b_l{
        margin-bottom: 40px;
    }
    .progress_wrap{
        display: block;
    }
    .progress{
        justify-content: space-evenly;
        height: 150px;
        margin-right: 0;
    }
    .content_b_r_t dl dd{
        font-size: 20px;
    }
    .pro p,.edu p{
        font-size: 16px;
    }
    /* renewal */
    .project_title{
        width: 300px;
    }
    .project_txt1{
        font-size: 18px;
    }
    .project_txt2_ti{
        font-size: 32px;
    }
    .project_txt2_ti_con{
        font-size: 19px;
    }
    .project_txt3_ti{
        font-size: 23px;
    }
    .project_txt3_ti_con{
        font-size: 16px;
    }
    .project_txt4, .project_txt5, .project_txt6{
        font-size: 17px;
    }
    .project_txt5, .project_txt6{
        margin-top: 8px;
    }
    /* uiux */
    .uiux_r{
        width: 100%;
    }
    /* 푸터 */
    .sendmessage{
        font-size: 70px;
    }
    .sendmessage span{
        border-bottom: 8px solid #1a1a1e;
    }
    .footer_title,.footer_social{
        font-size: 20px;
    }
    /* 탑버튼 */
    .top_but img{
        right: 30px;
    }
}

@media (max-width:750px){
    .wrap{
        padding: 0 10px;
    }
    /* 배너 */
    .banner .banner_title p{
        font-size: 70px;
    }
    .banner_profile{
        top: 265px;
        left: 10px;
        width: 330px;
        height: 440px;
    }
    .banner_left_b{
        margin-top: 460px;
    }
    .banner_left_b_l{
        width: 50px;
    }
    /* 헤더 */
    .name{
        left: 10px;
    }
    .portfolio{
        display: none;
    }
    .menu{
        right: 10px;
    }
    .number_title{
        font-size: 20px;
    }
    .first_grid{
        font-size: 18px;
        margin-left: 150px;
    }
    label[for=hamburger] {
        right: 20px;
    }
    .menu_box li:last-child {
        margin-right: 80px;
    }
    .menu_box li{
        font-size: 15px;
        margin-right: 20px;
    }
    /* aboutme */
    .content_t{
        font-size: 28px;
    }
    .content_b_r_t .pro{
        width: 220px;
        margin-right: 10px;    
    }
    .content_b_r_t dl dt, .skills{
        font-size: 26px;
    }
    .content_b_r_t dl dd{
        font-size: 18px;
    }
    .pro p, .edu p{
        font-size: 14px;
    }
    .content_b_r_t dl dd.line::after{
        height: 56px;
    }
    .progress{
        height: 140px;
    }
    .svg-wrapper{
        margin-right: 5px;
    }
    /* 푸터 */
    .sendmessage{
        font-size: 46px;
        letter-spacing: -1px;
    }
    .sendmessage span{
        border-bottom: 6px solid #1a1a1e;
    }
    .footer{
        display: block;
    }
    .footer_title,.footer_social{
        font-size: 18px;
    }
    .footer_social{
        margin-top: 30px;
    }
    /* 탑버튼 */
    .top_but img{
        width: 50px;
        height: 50px;
        bottom: 30px;
        right: 10px;
    }
}

@media (max-width:500px){
    /* 배너 */
    .banner .banner_title p{
        font-size: 50px;
    }
    .banner_profile{
        top: 225px;
        left: 10px;
        width: 260px;
        height: 350px;
    }
    .banner_left_b{
        margin-top: 370px;
    }
    .banner_left_b_l{
        width: 30px;
    }
    .menu_box li{
        font-size: 12px;
        margin-right: 10px;
    }
    .menu_box li:last-child{
        margin-right: 55px;
    }
    label[for=hamburger]{
        width: 19px;
        height: 20px;
    }
    .first_grid{
        margin-left: 100px;
    }
    /* aboutme */
    .content_t{
        font-size: 26px;
    }
    .content_b_r_t{
        display: block;
    }
    .content_b_r_t .pro{
        width: unset;
        margin-right: 0;
    }
    .content_b_r_t .edu{
        margin-top: 50px;
    }
    /* renewal */
    .project_title{
        width: 250px;
    }
    .project_txt1{
        font-size: 16px;
        margin-top: 30px;
    }
    .project_txt2{
        margin-top: 30px;
    }
    .project_txt2_ti{
        font-size: 27px;
    }
    .project_txt2_ti_con{
        font-size: 17px;
    }
    .project_txt3_ti{
        font-size: 21px;
    }
    .project_txt3_ti_con{
        font-size: 14px;
        line-height: 1.5;
    }
    .project_txt4{
        margin-top: 30px;
    }
    .project_txt4, .project_txt5, .project_txt6{
        font-size: 14px;
    }
    .view{
        margin-top: 50px;
    }
    .view a{
        font-size: 14px;
        border-radius: 14px;
        padding: 9px 15px;
    }
    /* 푸터 */
    .sendmessage{
        font-size: 36px;
        letter-spacing: 0px;
    }
    /* 탑버튼 */
    .top_but img{
        width: 40px;
        height: 40px;
    }
}
